body {
    font-family: Arial;
    background-color: #f4f2ee;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 700px;
}

h1 {
    background-color: #6f4e37;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
}

h2 {
    background-color: #d8c3a5;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

table {
    width: 100%;
    margin: 0 auto 25px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #b1967c;
}

th, td {
    padding: 10px;
    text-align: center;
}
